/* CSS declarations go here */
/*.navbar{
margin-top:360px;
}*/
#products{
margin-top:250px;
background-color: rgba(255,255,255,0.6);

}
.thumbnail  {
	
	height:500px;

}
.thumbnail-img{
	max-height:300px;
}
body{
	padding-top:60px;
	background: url(bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.single-img{
	max-width:100%
}
/*.carousel-control,.carousel-img{

	border-radius: 150px;
}
.carousel-control{
	height: 50%;
	top:23%;
}*/
#myCarousel{
	margin-left: 33px;
}